@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*, 
*::after, 
*::before { 
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100vh;
    background: #F3F5FC;
    margin: 0 auto;
}

header {
    margin-top: 40px;
    margin-left: 44px;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}

.texto-normal {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    max-width: 680px;
    margin: 80px 0px 80px 40px;
    flex: 1;
}

.caixa-texto {
    flex: 1;
}

textarea::placeholder {
    color: #0A3871;
    font-size: 32px;
}

textarea {
    width: 100%;
    height: 100%;
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
    background-color: transparent;
    border-color: transparent;
    resize: none;
    outline: none;
}

.texto-normal  p {
    font-size: 12px;
    color: #495057;
    line-height: 18px;
}

.texto-normal  p::before {
    vertical-align: top;
    line-height: 18px;
    margin-right: 8px;
    content: url('https://api.iconify.design/bi/exclamation-circle-fill.svg?color=%23495057');
}

.caixa-bot {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    padding: 16px 0 32px 0;
    gap: 20px;

}

.caixa-bot button, .copiar-textoCriptografado {
    max-width: 330px;
    flex: 1;
    height: 67px;
    background: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
}

.caixa-bot button:first-of-type {
    background: #0A3871;
    color: #FFF;
    border: none;
}

button:hover {
    opacity: 0.7;
}

.caixa-bot button:first-of-type:hover {
    opacity: 0.9;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40px;
    padding-top: 87px;
}

.limpar, 
.colar {
    width: 40px;
    height: 40px;
    background: #FFF;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar button:hover {
    box-shadow: 0 0 15px -8px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

button:active, 
.caixa-bot button:first-of-type:active {
    opacity: 1;
}

.texto-criptografado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: min(90vw, 310px);
    max-width: 400px;
    margin: -48px 80px 40px 40px;
    padding: 35px;
    border-radius: 35px;
    box-shadow: 0  24px 32px -8px rgba(0, 0, 0, 0.08);
    background-color: #FFF;
    flex: 1;
}

.texto-criptografado-ativo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: min(90vw, 310px);
    max-width: 400px;
    margin: -48px 80px 40px 40px;
    padding: 35px;
    border-radius: 35px;
    box-shadow: 0  24px 32px -8px rgba(0, 0, 0, 0.08);
    background-color: #FFF;
    flex:1;
}

.texto-criptografado > h2 {
    font-size: 24px;
    padding: 35px 0 16px;
}

.texto-criptografado p {
    line-height: 24px;
}

.resultado-criptografia {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    color: #495057;
    margin-bottom: 35px;
}

.texto-criptografado-ativo > button {
    width: 100%;
    background: #fff;
}

footer {
    height: 40px;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        margin-left: 40px;
    }

    .texto-normal {
        display: flex;
        flex-direction: column;
        min-width: min(80vw, 680px);
        min-height: 60vh;
        margin: 80px 0 25px 40px;
    }

    .texto-criptografado {
        min-width: min(80vw, 680px);
        margin: 0 40px 40px;
        flex: none;
    }
    
    .texto-criptografado-ativo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: min(80vw, 680px);
        margin: 0 40px 40px;
        height: 32vh;
        flex: none;
    }

    .copiar-textoCriptografado {
        max-width: 100%;
        margin: 10px auto;
    }

    .resultado-criptografia {
        margin-bottom: 0;
    }

    .texto-criptografado img {
        display: none;
    }

    .texto-criptografado h2 {
        padding: 0;
    }

    .caixa-bot button {
        min-width: 240px;
        max-width: 80vw;
    }

    .caixa-bot {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 580px) {
    header {
        margin: 24px 0 24px 40px;
    }

    .texto-normal {
        margin: 40px 0 25px 40px;
        min-height: 80vh;
    }

    .texto-criptografado-ativo {
        height: 80vh;
    }
}